<section class="customers-feedback">
	<div class="grid-container grid-x">
		<div class="customers-feedback-title cell large-12">
			ОТЗЫВЫ НАШИХ ПОКУПАТЕЛЕЙ
		</div>
		<div class="slider-bott owl-carousel vrtical-center">
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			</div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
			<div class="sl-item"> 
				<div class="sl-bott-img" style="background: url(../images/slider-bott-img.png) -55px 0 no-repeat; border-radius: 70px;"></div>
				<div class="sl-bott-name">
					Надежда Галицкая
				</div>
				<div class="sl-bott-date">10.04.2017</div>
				<div class="sl-bott-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
				<div class="sl-bott-cont">
					Lorem Ipsum - это текст-"рыба", часто 
					используемый в печати и вэб-дизайне. 
					Lorem Ipsum является стандартной 
					"рыбой" для текстов на латинице с 
					начала XVI века.
				</div>
			 </div>
		</div>
	</div>
</section>