<section class="photo-galery">
	<div class="grid-container">
		<div class="galery-grid">
			<div class="galery-item">
				<div class="frame-block">
					<div class="g-item-content">
						<div class="g-item-content-title"></div>
						<div class="g-item-content-info"></div>
					</div>
				</div>
			</div>
			<div class="galery-item">
				<div class="frame-block">
					<div class="g-item-content">
						<div class="g-item-content-title"></div>
						<div class="g-item-content-info"></div>
					</div>
				</div>
			</div>
			<div class="galery-item">
				<div class="frame-block">
					<div class="g-item-content">
						<div class="g-item-content-title"></div>
						<div class="g-item-content-info"></div>
					</div>
				</div>
			</div>
			<div class="galery-item">
				<div class="frame-block">
					<div class="g-item-content">
						<div class="g-item-content-title"></div>
						<div class="g-item-content-info"></div>
					</div>
				</div>
			</div>
			<div class="galery-item">
				<div class="frame-block">
					<div class="g-item-content">
						<div class="g-item-content-title">Косметика для лица</div>
						<div class="g-item-content-info">Lorem Ipsum - это текст-"рыба", часто 
						используемый в печати и вэб-дизайне. 
						Lorem Ipsum является стандартной 
						"рыбой" для текстов на латинице с 
						начала XVI века.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>