<section class="main-slider">
  <div class="main-sl-area">
    <div class="sl-left-bg"></div>
    <div class="sl-right-bg"></div>
    <div class="grid-container slider">
      <div class="slider-top owl-carousel">
        <div class="top-sl-item">
          <div class="grid-x grid-margin-x">
            <div class="cell large-6 cell-cont">
              <div class="left-cont">SALE UP TO 35 % OFF</div>    
            </div>
            <div class="cell large-6 ">
              <div class="right-cont">COLOGNES BRANDS</div>
            </div>
          </div>
        </div>
        <div class="top-sl-item">  </div>
        <div class="top-sl-item">  </div>
        <div class="top-sl-item">  </div>
        <div class="top-sl-item">  </div>
        <div class="top-sl-item">  </div>
        <div class="top-sl-item">  </div>
      </div>
    </div>


  </div>
</section>