//= _header.html
<header>
	<div class="grid-container">
		<!-- main-menu-block -->
		<div class="grid-x grid-margin-x main-header">
			<div class="cell small-12 medium-12 large-7 vrtical-center jc">
				<div class="top-nav-media-b">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="menu align-center main-nav">
				  <li><a href="#">О нас</a></li>
				  <li><a href="#">Новости</a></li>
				  <li><a href="#">Доставка и оплата</a></li>
				  <li><a href="#">Партнерам</a></li>
				  <li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="cell small-9 medium-6 large-4 vrtical-center jc">
				<div class="input-group">
					<div class="search-field">
				  		<input class="input-group-field" placeholder="Поиск продукции..." type="text">
					</div>
					<div class="input-group-button vrtical-center">
						<button type="submit" class="search-btn">
						</button>
					</div>
				</div>
			</div>
			<div class="cell small-3 medium-6 large-1 vrtical-center jc">
				<div class="sign-in vrtical-center">
					<div class="sign-in-label"></div>
					<button type="submit" class="sign-in-btn">Войти</button>
				</div>
			</div>
		</div>
	</div>
	<div class="hr-line">
	</div>
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-3">
				<div class="phoe-nums">
					<p>+38 (063) 136-31-36</p>
					<p>+38 (096) 581-50-10</p>
					<p>+38 (063) 111-38-40</p>
				</div>
				<div class="btn-get-call"><span>Заказать звонок</span></div>
			</div>
			<div class="cell large-6">
				<div class="head-logo">
					
				</div>
			</div>
			<div class="cell large-2 large-offset-1">
				<div class="product-grid">
					<div class="p-grid-item">
						<div class="p-item-ico">
							<div class="p-item-ico-col">2</div>
						</div>
						<div class="p-item-price"></div>
					</div>
					<div class="p-grid-item">
						<div class="p-item-ico">
							<div class="p-item-ico-col">3</div>
						</div>
						<div class="p-item-price">
							1000 000 грн.
						</div>
					</div>
				</div>
				<div class="work-time">
					Время работы: <br>Пн-Вс с 6:00 до 18:00
				</div>
			</div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell large-12  rel-nav-b">
				<div class="media-bl" ><div class="dropD-ico">Категории</div></div>
				<div class="sec-main-nav">
					<ul class="menu align-center">
					  	<li class="d-down-m">
					  		<a href="" class="dropD-ico">Парфюмерия</a>
				  			<ul class="drop-down">
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  			</ul>
						</li>
						<li class="d-down-m">
							<a href="" class="dropD-ico">Глаза</a>
					  		<ul class="drop-down">
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  			</ul>
						</li>
						<li class="d-down-m">
							<a href="" class="dropD-ico">Губы</a>
					  		<ul class="drop-down">
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  			</ul>
						</li>
						<li class="d-down-m">
							<a href="" class="dropD-ico">Лицо</a>
					  		<ul class="drop-down">
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  			</ul>
						</li>
						<li class="d-down-m">
							<a href="" class="dropD-ico">Бренды</a>
					  		<ul class="drop-down">
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  				<li><a href="">other link</a></li>
				  			</ul>
						</li>
						<li><a href="#">Акции</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

  			
//= _top-slider.html
		
//= _sec-galery.html

//= _bott-slider.html

//= _footer.html